footer{
    display: flex;
    justify-content: center;
position: fixed;
padding: 40px;
left: 0;
padding: 15px;
font-family: 'Courier New', Courier, monospace;
bottom: 0;
width: 100%;
background-color: lightblue;
color: white;
text-align: center;

}