form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    color:blue;
}
#evaluation{
    padding: 5px 20px;
    text-align: center;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    color:lightblue;
    font-family:fantasy;

}